.profile-container {
    text-align: center;
    padding: 20px;
    border-bottom: 2px solid black;
}

.profile-details {
    margin-top: 20px;
    background-color: #FFFAA0;
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
    text-align: left;
}

.profile-details p {
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 1.6;
    margin: 10px 0;
}

.profile-details strong {
    margin-right: 10px;
}

.profile-details svg {
    margin-right: 10px;
    color: #333;
}

.hydrations-list {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
}

.hydrations-list li {
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 1.6;
    margin: 10px 0;
}

/* Dodati stilove iz trenutne aplikacije */
.vezbe-container {
    text-align: center;
    padding: 20px;
    border-bottom: 2px solid black;
}

.more-content {
    margin-top: 20px;
}

.colorful-divs {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.colorful-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 200px;  
    height: 200px; 
    margin: 0 10px;
    border-radius: 50%;
    transition: transform 0.3s; 
}

.colorful-div:hover {
    transform: scale(1.1);  
}

.red {
    background-color: #FFC3A0;  
}

.blue {
    background-color: #A0C3FF;  
}

.green {
    background-color: #A0FFC3;  
}

.get-started-button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #e4c1f9;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.get-started-button:hover {
    background-color: #d3f8e2;
    color: #333;
}

ul {
    list-style-type: none;
}

li {
    padding: 20px;
    text-align: center;
}

.more-content p {
    margin-top: 10px;
    color: #333;
    font-size: 16px;
    line-height: 1.6;
}

.more-content {
    padding: 5%;
    text-align: center;
    background-color: #FFFAA0;
}
