.vezbe-container {
    text-align: center;
    padding: 20px;
  }
  
  .vezbe-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .vezbe-table th,
  .vezbe-table td {
    padding: 10px;
    border: 1px solid #d3f8e2;
  }
  
  .vezbe-table th {
    background-color: #e4c1f9;
    color: #fff;
  }
  
  .vezbe-table tr:nth-child(even) {
    background-color: #c3bf93;
  }
  
  .vezbe-table tr:nth-child(odd) {
    background-color: #ede7b1;
  }
  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
    margin-top: 20px;
  }
  
  .page-item {
    margin: 0 5px;
  }
  
  .page-link {
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    color: #333;
    background-color: #e4c1f9;
    border: 1px solid #d3f8e2;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .page-link:hover {
    background-color: #d3f8e2;
    color: #fff;
    cursor: pointer;
  }
  
  /* Active page link styles */
  .page-link.active {
    background-color: #c3bf93;
    color: #fff;
  }
  
  /* Disabling text selection for better UX */
  .page-link::selection {
    background: none;
  }
  