.profile-container {
    text-align: center;
    padding: 20px;
    border-bottom: 2px solid black;
}

.profile-details {
    margin-top: 20px;
    background-color: #FFFAA0;
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
    text-align: left;
    width: 100%; /* Full width */
    max-width: 600px; /* Maximum width for the form */
  
}

.profile-details p {
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 1.6;
    margin: 10px 0;
}

.profile-details strong {
    margin-right: 10px;
    width: 150px; /* Fixed width for labels to align input fields */
}

.profile-details input {
    flex: 1;
    padding: 8px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-left: 10px;
}

.food-table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    margin-left: 20%;
    margin-right: 20%;
 
}
.food-form{
    margin-left: 20%;
    margin-right: 20%;
}
.food-table th,
.food-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.food-table th {
    background-color: #f2f2f2;
}

.food-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.food-table tbody tr:hover {
    background-color: #f1f1f1;
}

.edit-button, .delete-button {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #e4c1f9;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    margin-right: 5px;
}

.edit-button:hover, .delete-button:hover {
    background-color: #d3f8e2;
    color: #333;
}

.progress-bar {
    width: 100%;
    background-color: #e0e0df;
    border-radius: 13px;
    overflow: hidden;
    margin: 20px 0;
}

.progress {
    height: 20px;
    background-color: #76c7c0;
    width: 0;
    transition: width 0.3s ease-in-out;
}

.submit-button {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #76c7c0;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.submit-button:hover {
    background-color: #e4c1f9;
    color: #333;
}

.profile-details svg {
    margin-right: 10px;
    color: #333;
}
